*{
    margin: 0px;
    padding: 0px;
}
.headerhome{
    background-color: #bbbbbb;
    padding: 30px 0;
}
.topohome{
    max-width: 940px;
    position: relative;
    margin: 0 auto;
}
.titulo-principal{
    font-size: 2.5em;
    text-decoration: underline;
}
.navhome{
    position: absolute;
    top: 20px;
    right: 0;
}
nav li{
    display: inline;
    margin: 0 0 0 15px;
}
nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 1.2em;
    text-decoration: none;
}
nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}














.baner{
	width:100%;
}

.principal{
	background: #CCCCCC;
	padding: 30px; 
}

.titulo-secundario{
	text-align: center;
    font-size: 1.5em;
    padding: 10px 0;
}

p {
	text-align: center;
}

#missao {
	font-size: 20px
}

em strong {
	color: #FF0000;
}

.lista-beneficios{
	font-style: italic;
    font-size: 1.2em;
}

.beneficios {
	background: #FFFFFF;
	padding: 20px;
    margin-left: 25px;
}

ul {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 15%;
}

.imagembeneficios {
	width: 50%;
}
footer{
    text-align: center;
    background: url("imagens/bg.jpg") ;
    padding: 40px 0;
}
footer p{
    color: white;
    font-size: 0.6em;
    margin-top: 20px;
}